<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ui.App"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Cafe24hManager"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Cafe24hManager"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="--enable-native-access=ALL-UNNAMED -Djava.library.path=&quot;${workspace_loc:/Cafe24hManager}/lib/native&quot; -Dfile.encoding=UTF-8"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:/Cafe24hManager}"/>
</launchConfiguration>
